# folders
.vscode/
ex_data/
fnl_data/
ctl_des/
87_fcst_ctl/
nmc_obs/
pic/
pic_eg/
doc/
grads/
__pycache__/
Cmodule/__pycache__/
nwpc_data/

**/test/**

# extensions
*.log
*.pkl
*.docx
*.zip
*.pdf
*.gs
*.pptx
